{% extends 'frames/base.html' %}
{% block content %}
<div class="content">
    <div class="bars sidecolors">
        {% include 'includes/nieuwproduct.html' %}
    </div>
    <div class="aboutmid">
        <div class="qrs">
            <div class="aboutsection commontextbox">
                <div class="sorton commoncolor">
                    <h1> 404 Error: Pagina niet gevonden! </h1>
                </div>
                <div class="aboutwrap">
                    <h1 class="error404h1">404</h1>
                    <p class="error404p">De pagina die u probeert te bereiken kan niet worden gevonden. Als u denkt dat dit een fout is neem dan contact op met een medewerker.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="right sidecolors">
        {% include 'includes/aanbieding.html' %}
    </div>
</div>
{% endblock %}
