{% extends 'frames/base.html' %}
{% block content %}
<div class="content">
    <div class="bars sidecolors">
        {% include 'includes/nieuwproduct.html' %}
    </div>
    <div class="aboutmid">
        <div class="qrs">
            <div class="aboutsection commontextbox">
                <div class="sorton commoncolor">
                    <h1>Vul in</h1>
                </div>
                <div class="abouttext">
				            <div class="fillin">
                        <form role="form" action="" method="post">
                            {% csrf_token %}
                            {{checkoutform}}
                            <input type="submit" id="checkoutsubmit" name="checkoutsubmitbutton" value="Bevestigen">
                        </form>
						<script>
							var label = $('label[for="' + 'id_card_edy' + '"]');
							var label2 = $('label[for="' + 'id_card_CVC' + '"]');
							var label3 = $('label[for="' + 'id_card_edm' + '"]');
							
							$(label).attr('id', 'dash');
							$(label2).attr('id', 'cvc');
							$(label3).attr('id', 'edm');
						</script>
				            </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right sidecolors">
        {% include 'includes/aanbieding.html' %}
    </div>
</div>
{% endblock%}
