{% extends 'frames/base.html' %}
{% load custom_tags %}
{% block content %}
<div class="content">
   <div class="bars sidecolors">
       {% include 'includes/nieuwproduct.html' %}
   </div>
   <div class="faqmid">
      <div class="productinfowrap">
         <div class="sorton commoncolor" style="margin-top: 0;">
            <h1>Product informatie</h1>
         </div>
         <div class="imgsection">
            <img src="{{prodImage}}" id="zoom_05" data-zoom-image="https://i.pinimg.com/736x/86/ff/e2/86ffe2b49daf0feed78a1c336753696d--black-panther-comic-digital-comics.jpg">
            <p>{{prodPublisher}}</p>
            <p style="color: #746c6c">
            {% getRating prodNum as rating%}
				{% for x in rating %}
					<i class="fa fa-star" aria-hidden="true"></i>
				{% endfor %}
			</p>
         {% isInStock prodNum as lel %}
         {% if lel %}
            <p class="stock">In stock</p>
         {% else %}
            <p class="stock" style="color: #d45f5f;">Uitverkocht</p>
         {% endif %}
         </div>
         <div class="descsectionwrap">
            <div class="descsection">
               <div class="deschead">
                  <div class="descpricesection">
                     <p class="priceproductpage"> € {{prodPrice}} </p>
                  </div>
                  <div class="desctitlesection">
                     <h1> {{prodName}} </h1>
                  </div>
               </div>
               <div class="buttons">
               <ul>
			   {% if user.is_authenticated %}
			   <li>
			   {% else %}
			   <li style="width: 100%;">
			   {% endif %}

               {% if lel %}
			   <form role="form" action="" method="post" name="addToCart">
                   {% csrf_token %}
                   <button type="submit" name="addToCartButton" class="addtocartButton"><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-shopping-cart" aria-hidden="true"></i><p>Toevoegen winkelwagentje</p></button>
               </form>
                {% endif %}
			   </li>

               {% if user.is_authenticated %}
                   {% if lel %}
                         <li>
                        <form role="form" action="" method="post" name="addToWishList">
                       {% csrf_token %}
                       <button type="submit" name="addtowishlistButton" class="addtowishlistButton"><i class="fa fa-heart" aria-hidden="true"></i><p>Toevoegen verlanglijstje</p></button>
                        </form>
                        </li>
                   {% else %}
		                 <p style="text-align: center;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: #534949; margin-right: 10px;"></i>Wij streven er naar om dit product zo snel mogelijk weer op voorraad te krijgen!</p>
                        <li style="width: 100%; height: auto;">
                        <form role="form" action="" method="post" name="addToWishList">
                       {% csrf_token %}
                       <button type="submit" name="addtowishlistButton" class="addtowishlistButton"><i class="fa fa-heart" aria-hidden="true"></i><p>Toevoegen verlanglijstje</p></button>
                        </form>
                        </li>
                   {% endif %}
               {% else %}
                   {% if not lel %}
                  <p style="text-align: center;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: #534949; margin-right: 10px;"></i>Wij streven er naar om dit product zo snel mogelijk weer op voorraad te krijgen!</p>
                   {% endif %}

               {% endif %}
			   </ul>
               </div>
            </div>
            <div class="deliveryinfo">
               <p><i class="fa fa-truck" aria-hidden="true"></i> Voor 12 uur 's middags besteld morgen in huis! </p>
            </div>
         </div>
         <div class="downsections">
		 <div class="line2"></div>
            <div class="textsection">
               <h1>Productbeschrijving</h1>
               <p>{{prodDesc}}</p>
            </div>
            <div class="authorinfosection">
                <h1>Product eigenschappen</h1>
                <p>Auteur: {{prodAuthor}}</p>
                <p>Uitgever: {{prodPublisher}}</p>
                <p>Taal: {{prodLanguage}}</p>
                <p>Publicatie datum: {{prodDate}}</p>
                <p>Aantal bladzijdes: {{prodPages}}</p>
                <p>Type: {{prodType}}</p>
                <p>Productnummer: {{prodNum}}</p>
            </div>
         </div>
      </div>
      <div class="suggesteditems">
         <div class="suggesteditemsbar" style="border-bottom-left-radius:0px; border-bottom-right-radius:0px;">
            <h1>Suggested Products</h1>
         </div>
         <ul class="ulsugg">
            {% autoescape off %}{% suggesteditems prodName prodType %}{% endautoescape %}
         </ul>
          {% if user.is_authenticated %}
          <div class="reviews" style="margin-bottom: 5%;">
         <div class="suggesteditemsbar" style="border-bottom-left-radius:0px; border-bottom-right-radius:0px;">
            <h1>Recensie plaatsen</h1>
         </div>
         <div class="reviewswrap">
             <div class="contact">
                 <img style="border: none;" src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Placeholder_couple_superhero.png">
             <form method="post">
                 <p id="ratingtitle">Uw beoordeling:</p>
                 <fieldset class="rating">
                <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Geweldig - 5 sterren"></label>
                <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Best wel goed - 4 sterren"></label>
                <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 sterren"></label>
                <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Liever niet - 2 sterren"></label>
                <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Ongelovelijk slecht - 1 ster"></label>
                </fieldset>
                 <br>
                 <input type="hidden" name="userid" value="{{ user.id }}">
                 <input type="hidden" name="prodNum" value="{{ prodNum }}">
                 <p id="reviewtitle">Uw recensie:</p>
                 {% csrf_token %}
                 {{ reviewform }}
{#        <input type="text">#}
    <button id="reviewbutton" name="addReview">Delen</button>
    </form>

    </div>
         </div>
      </div>
          {% endif %}
          <div class="reviews" style="margin-top: 1%; margin-bottom: 5%;">
         <div class="suggesteditemsbar" style="border-bottom-left-radius:0px; border-bottom-right-radius:0px;">
            <h1>Gebruikers Recensies</h1>
         </div>
         <div class="reviewswrap">
            {% autoescape off %}{% latestReviews prodNum %}{% endautoescape %}
    </div>
      </div>
      </div>
   </div>
   <div class="right sidecolors">
       {% include 'includes/aanbieding.html' %}
   </div>
</div>
{% endblock%}
