{% load custom_tags %}
{% load static %}
<div class="header">
<script src="//cdnjs.cloudflare.com/ajax/libs/Snowstorm/20131208/snowstorm-min.js"></script>
<script>
snowStorm.targetElement = 'logo';
snowStorm.animationInterval = 20; //milliseconds per frame, the higher the less CPU load
snowStorm.flakesMaxActive = 20; //maximum number of active snow flakes, the lower the less CPU/GPU is needed to draw them
snowStorm.freezeOnBlur = true; //recommended: stops the snow effect when the user switches to another tab or window
snowStorm.followMouse = false;
snowStorm.vMaxX = 1;
snowStorm.vMaxY = 1;
snowStorm.snowStick = false;
snowStorm.useMeltEffect = true;
</script>
    {% if user.is_authenticated %}
    <div class="logowrap commoncolor">
        <div id="logo">
            {% load static %}
            <a href="/">
            <img src="{% static 'images/comicfirelogo3.png' %}">
            </a>
        </div>
    </div>
    <div class="headmid">
        <form name="searchForm" action="/zoeken" method="get" id="srchform">
            <input type="text" id="searchbar" name="searchtext" placeholder="Deadpool vs The Punisher" value="{{ request.GET.searchtext }}">
{#            <input type="image" id="srchbutton" name="searchtext" src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png">#}
            <input type="submit" id="srchbutton"
                style="background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png'); border: solid 0px #000000;" />
        </form>
        <div class="cart">
            <a href="/winkelwagentje/">
            <i class="fa fa-shopping-cart" aria-hidden="true" id="cartid"></i>
            </a>
        </div>
    </div>
	{% if not user.is_staff %}
	{% incrementVisit true user.id %}
<div class="usersection">
    <ul>
        <li><div class="user">
		<div class="userann">
            <p>Welkom {{ user.first_name }}</p></div>
			<div class="userlinks"><a href="/account/"><div class="userhalf"><i class="fa fa-user" aria-hidden="true"></i></div></a><a href="/verlanglijst/"><div class="wishlisthalf"><i class="fa fa-heart" aria-hidden="true"></i></div></a></div>
            </div></li>
              <a href="/logout"><li>
            <p class="lgntext commoncolor"> <i class="fa fa-sign-out" aria-hidden="true"></i>Uitloggen</p>
        </li>
		</a>
    </ul></div>
	{% else %}
	{% incrementVisit false user.id %}
	<div class="usersection">
    <ul>
        <li><div class="user">
		<div class="userann">
            <p>Welkom {{ user.first_name }}</p></div>
			<div class="userlinks"><a href="/account/"><div class="userhalf" style="width: 33%;"><i class="fa fa-user" aria-hidden="true"></i></div></a><a href="/verlanglijst/"><div class="wishlisthalf" style="width: 33%; border-right: solid 0.1vh #4f9373"><i class="fa fa-heart" aria-hidden="true"></i></div></a><a href="/admin"><div class="admin" style="width: 33%;"><i class="fa fa-area-chart" aria-hidden="true"></i></div></a></div>
            </div></li>
              <a href="/logout"><li>
            <p class="lgntext commoncolor"> <i class="fa fa-sign-out" aria-hidden="true"></i>Uitloggen</p>
        </li>
		</a>
    </ul></div>
	{% endif %}
    {% else %}
	{% incrementVisit false %}
    <div class="logowrap commoncolor">
        <div id="logo">
            {% load static %}
            <a href="/">
            <img src="{% static 'images/comicfirelogo3.png' %}">
            </a>
        </div>
    </div>
    <div class="headmid">
        <form name="searchForm" action="" method="post">
            {% csrf_token %}
            <input type="text" id="searchbar" name="searchtext" placeholder="Deadpool vs The Punisher">
            <input type="image" id="srchbutton" name="searchtext" src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png">
        </form>
        <div class="cart">
            <a href="/winkelwagentje/">
            <i class="fa fa-shopping-cart" aria-hidden="true" id="cartid"></i>
            </a>
        </div>
    </div>
    <div class="register">
    <ul>    
		<a href="/register">
			<li>
				<p class="lgntext commoncolor"> <i class="fa fa-user-plus" aria-hidden="true"></i>Registreren </p>
			</li>
		</a>
            <a href="/login"><li>
            <p class="lgntext commoncolor"> <i class="fa fa-sign-in" aria-hidden="true"></i>Inloggen </p>
        </li>
		</a>
        </ul>
    </div>
    {% endif %}
</div>
