<div class="nav commoncolor">
    <ul>
        <a href="/product/all/">
            <li>
                <p><i aria-hidden="true" class="fa fa-info"></i>Producten</p>
            </li>
        </a>
        <a href="/faq">
            <li>
                <p id="faq"><i aria-hidden="true" class="fa fa-question"></i>FAQ
                </p>
            </li>
        </a>
        <a href="/about">
            <li>
                <p><i aria-hidden="true" class="fa fa-info"></i>Over Comicfire</p>
            </li>
        </a>
        <a href="/chatbot">
            <li>
                <p><i aria-hidden="true" class="fa fa-commenting"></i>Chatbot</p>
            </li>
        </a>
        <a href="/contact">
            <li>
                <p id="contact"><i aria-hidden="true" class="fa fa-envelope"></i>Contact</p>
            </li>
        </a>
    </ul>
</div>