{% extends "admin/frames/adminbase.html" %}
{% load admin.adminusertags %}
{% load static %}
{% block content %}
<div class="middle">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">google.load("visualization", "1", {packages:["corechart"]});</script>
	{% if user.is_authenticated %}
		{% if user.is_staff %}
            <p id="editp">De 10 best verkochte producten van {% getMonth month %} {{ year }}.</p>
            <div class="chart">
			{{ chart.as_html }}
			</div>
		{% else %}
				<div class="welcome">
				<p>Helaas bent u niet bevoegd.</p>
				</div>
		{% endif %}
	{% else %}
	<p style="margin-left: 50px;">Redirecting...</p>
	<script>
		$(location).attr('href', '/admin/');
	</script>
	{% endif %}
	</div>
{% endblock %}
